.variantsBlock {

  &__buttons {
    border-radius: 0.25rem;
    box-shadow: 0 -15px 10px -10px #D11111;
  }

  &__button {
    display: flex;
    align-items: center;

    &_incorrect {
      background-image: url("../../assets/images/icons/stop_off.png");
      background-position: center right 0.5rem;
      background-size: 1rem;

      &:not([disabled]):not(.disabled):hover,
      &:not([disabled]):not(.disabled):focus,
      &:not([disabled]):not(.disabled):active,
      &:not([disabled]):not(.disabled):active:hover,
      {
        background-image: url("../../assets/images/icons/stop_off.png");
      }
    }

    &_correct {
      background-image: url("../../assets/images/icons/lvl_up_on.png");
      background-position: center right 0.5rem;
      background-size: 1rem;

      &:not([disabled]):not(.disabled):hover,
      &:not([disabled]):not(.disabled):focus,
      &:not([disabled]):not(.disabled):active,
      &:not([disabled]):not(.disabled):active:hover,
      {
        background-image: url("../../assets/images/icons/lvl_up_on.png");
      }
    }
  }

  &__button-title {
    font-size: 1.2rem;
  }

  &__button-icon {
    margin-left: -0.5rem;
  }
}

@media (max-width: 575px) {
  .variantsBlock {

    &__buttons {
      box-shadow: none;
    }
  }
}
