.header {

  &__score {
    font-size: 3rem;
    color: #D11111;

    &_updated {
      animation: blink-1 1s both;
    }
  }
}

@keyframes blink-1 {
  5%,
  20%,
  60%,
  100% {
    opacity: 1;
  }
  0%,
  10%,
  30%,
  70% {
    opacity: 0;
  }
}
