.app {
  background: url("../assets/images/heroes-bg.jpg") repeat-x;
  background-size: cover;
  animation: moving-bg 60s linear infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    background: rgba(39, 43, 48, 0.98);
    border: 2px solid #1b1e20;
    border-radius: 0.25rem;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

@keyframes moving-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(100vw - 100%) 0;
  }
}

@media (max-width: 576px) {
  .app {
    background: none;
    animation: none;
  }
}
